# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.dylib

# Distribution / packaging
.Python
env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.egg-info
MANIFEST
.idea

# IDEs and editors
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.kateconfig
*.kate-swp

# PyCharm files
*.iml
.idea/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/
pypolestar/